<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Jordan Epstein</key>
	<dict>
		<key>email</key>
		<string>epsteinjo@gmail.com</string>
	</dict>
	<key>Matt Maurer</key>
	<dict>
		<key>email</key>
		<string>matt.maurer@gmail.com</string>
	</dict>
	<key>Robert Guo</key>
	<dict>
		<key>email</key>
		<string>gyrccc@gmail.com</string>
	</dict>
	<key>Brad Hoyt</key>
	<dict>
		<key>email</key>
		<string>HoytB@wellmark.com</string>
	</dict>
</dict>
</plist>
